@model IEnumerable<WebsiteMVC.Models.ThuChi>
@using WebsiteMVC.Models

@{
    ViewBag.Title = "DANH SÁCH THU CHI";
    Layout = "~/Views/Shared/_LayoutAdminList.cshtml";
}

@using (Html.BeginForm())
{
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">Từ ngày</span>
            <input type="date" name="stimeStart" value="@ViewBag.timeStart" class="form-control" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <span class="input-group-addon">Đến ngày ngày</span>
            <input type="date" name="stimeEnd" value="@ViewBag.timeEnd" class="form-control" />
        </div>
    </div>
    <button class="btn">Xem</button>
}
<hr />
<p>Biểu đồ thu chi theo thời gian</p>
<div id="linechart_material" style="width: 900px; height: 500px"></div>
<hr />

<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
            <div class="btn-group">
                <a href="@Url.Action("Edit")" id="sample_editable_1_new" class="btn green">
                    Thêm <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<table class="table table-bordered" id="table">
    <thead>
        <tr>
            <th>
                MÃ THU CHI
            </th>
            <th>
                NGUỒN QUỸ
            </th>
            <th>
                SỐ TIỀN
            </th>
            <th>
                NGƯỜI TẠO
            </th>
            <th>
                NGÀY TẠO
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaThuChi)
                </td>
                <td>@item.Quy.MaQuy</td>
                <td>
                    @(item.SoTien?.ToString("#,###"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaiKhoan.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @if (item.State == Notify.CANCLE)
                    {
                        <label class="label label-default">Đã bị hủy</label>
                    }
                    else
                    {
                        if (item.State == Notify.INIT)
                        {
                            <label class="label label-default">Chờ phê duyệt</label>
                        }
                        <a href="@Url.Action("Edit",new { id = item.IDThuChi})" class="btn btn-primary" title="Sửa"><i class="fa fa-pencil"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Scripts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Tháng');
        data.addColumn('number', 'Thu');
        data.addColumn('number', 'Chi');

        data.addRows(@Html.Raw(ViewBag.data));
        var options = {
            chart: {
                title: 'THU CHI THEO THỜI GIAN',
                subtitle: 'đơn vị (VND)'
            },
            width: 900,
            height: 500
        };

        var chart = new google.charts.Line(document.getElementById('linechart_material'));

        chart.draw(data, google.charts.Line.convertOptions(options));
    }
</script>
