<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    <li>
        <a href="@Url.Action("Index","Home")">
            <i class="fa fa-home"></i>
            <span class="title">TRANG CHỦ</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","ThuChi")">
            <i class="fa fa-dollar"></i>
            <span class="title">THU CHI</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","TamUng")">
            <i class="fa fa-fighter-jet"></i>
            <span class="title">TẠM ỨNG</span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index","CongNo")">
            <i class="fa fa-cab"></i>
            <span class="title">CÔNG NỢ</span>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <i class="fa fa-list"></i>
            <span class="title">DANH MỤC</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="@Url.Action("Index","Quy")">
                    <i class="fa fa-credit-card"></i>
                    QUỸ
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","TaiKhoan")">
                    <i class="fa fa-user"></i>
                    TÀI KHOẢN
                </a>
            </li>
        </ul>
    </li>
</ul>
